<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <input type="button" class="btn btn-primary button-gui" value="Add Product">
        </div>
        <div class="col-md-8"><!--add stuff here--></div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Article Number</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Inventory Locatione</th>
        <th>World Locatione</th>
        <th>Transit</th>
        <th>Inventory Status</th>
        <th>Model</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Acquisitor</th>
        <th>Number of Files</th>
    </tr>
</table>


