<div ng-controller="ProductController as pc"
     ng-init="pc.getTableData()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"><search-bar></search-bar></div>
        </div>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Article Number</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Inventory Locatione</th>
            <th>World Locatione</th>
            <th>Transit</th>
            <th>Inventory Status</th>
            <th>Model</th>
            <th>Amount</th>
            <th>Production Year</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Acquisitor</th>
            <th>A-price</th>
            <th>Sales Status</th>
            <th>Number of Files</th>
            <th>Spec Sheets</th>
        </tr>
        <tr ng-repeat="data in pc.tableData | filter: query">
            <td>{{data.ArticleNumber}}</td>
            <td>{{data.Name}}</td>
            <td>{{data.SerialNumber}}</td>
            <td>{{data.InventoryLocation}}</td>
            <td>{{data.WorldLocation}}</td>
            <td>{{data.Transit}}</td>
            <td>{{data.InventoryStatus}}</td>
            <td>{{data.Model}}</td>
            <td>{{data.Amount}}</td>
            <td>{{data.ProductionYear}}</td>
            <td>{{data.Category}}</td>
            <td>{{data.Tags}}</td>
            <td>{{data.Acquisitor}}</td>
            <td>{{data.APrice}}</td>
            <td>{{data.SalesStatus}}</td>
            <td>{{data.NumberOfFiles}}</td>
            <td>{{data.SpecSheets}}</td>
        </tr>
    </table>
</div>

