<div class="container-fluid">
    <div class="row">
       
        <div class="col-md-8"><!--add stuff here--></div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Article Number</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Inventory Locatione</th>
        <th>World Locatione</th>
        <th>Transit</th>
        <th>Inventory Status</th>
        <th>Model</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Acquisitor</th>
        <th>Sales Status</th>
        <th>Number of Files</th>
    </tr>
    <tr ng-repeat="data in ac.tableData">
        <td>{{data.articleNumber}}</td>
        <td>{{data.name}}</td>
        <td>{{data.serialNumber}}</td>
        <td>{{data.inventoryLocation}}</td>
        <td>{{data.worldLocation}}</td>
        <td>{{dta.transit}}</td>
        <td>{{data.inventoryStatus}}</td>
        <td>{{data.model}}</td>
        <td>{{data.category}}</td>
        <td>{{data.tags}}</td>
        <td>{{data.acquisitor}}</td>
        <td>{{data.salesStatus}}</td>
        <td>{{data.numberOfFiles}}</td>
    </tr>
</table>
<div class="col-md-4">
    <a href="/InvEmp/AddProduct" class="button btn btn-primary button-gui" target="_blank">Add Product</a>
</div>
<div class="col-md-4">
    <a href="/InvEmp/Edit" class="button btn btn-primary button-gui" target="_blank">Edit Product</a>
</div>

