<div ng-controller="UserController as uc"
     ng-init="uc.getLog()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"><search-bar></search-bar></div>
        </div>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>UserName</th>
            <th>Name</th>
            <th>Role</th>
        </tr>
        <tr ng-repeat="data in uc.tableData | filter: query">
            <td>{{data.Username}}</td>
            <td>{{data.Comment}}</td>
            <td>{{data.Datetime}}</td>
        </tr>
    </table>
</div>