<div ng-controller="TechnicianController as tc"
     ng-init="tc.productService.getTableData()">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8"><!--add stuff here--></div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Article Number</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Inventory Location</th>
            <th>Inventory status</th>
            <th>Model</th>
            <th>Production Year</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Number of Files</th>
            <th>Images</th>
            <th>Documents</th>
            <th>Spec Sheet</th>
        </tr>
        <tr ng-repeat="data in tc.productService.tableData">
            <td>{{data.ArticleNumber1}}</td>
            <td>{{data.Name}}</td>
            <td>{{data.SerialNumber}}</td>
            <td>{{data.InventoryLocation}}</td>
            <td>{{data.InventoryStatus}}</td>
            <td>{{data.mModel}}</td>
            <td>{{data.ProductionYear}}</td>
            <td>{{data.Category}}</td>
            <td>{{data.Tags}}</td>
            <td>{{data.NumberOfFiles}}</td>
            <td>{{data.Images}}</td>
            <td>{{data.Documents}}</td>
            <td>{{data.SpecSheets}}</td>
        </tr>
    </table>
    <div class="col-md-4">
        <a href="/Technician/Edit" class="button btn btn-primary button-gui" target="_blank">Edit Product</a>
    </div>


