<div class="container-fluid">
    <div class="row">

        <div class="col-md-8"><!--add stuff here--></div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Article Number</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Inventory Location</th>
        <th>Inventory status</th>
        <th>Model</th>
        <th>Production Year</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Number of Files</th>
        <th>Images</th>
        <th>Documents</th>
        <th>Spec Sheet</th>
    </tr>
    <tr ng-repeat="data in ac.tableData">
        <td>{{data.articleNumber}}</td>
        <td>{{data.name}}</td>
        <td>{{data.serialNumber}}</td>
        <td>{{data.inventoryLocation}}</td>
        <td>{{data.inventoryStatus}}</td>
        <td>{{data.model}}</td>
        <td>{{data.productionYear}}</td>
        <td>{{data.category}}</td>
        <td>{{data.tags}}</td>
        <td>{{data.numberOfFiles}}</td>
        <td>{{data.images}}</td>
        <td>{{data.documents}}</td>
        <td>{{specSheets}}</td>
    </tr>
</table>
<div class="col-md-4">
    <a href="http://localhost:50309/Technician/Edit" class="button btn btn-primary button-gui" target="_blank">Edit Product</a>
</div>


