<div ng-controller="ProductController as sc"
     ng-init="sc.populateFields()">
    <div class="col-md-12 Product-Heading">
        <h2>Edit Product</h2>
    </div>

    <form class="form-horizontal" 
          ng-submit="sc.editProduct()">
        <div class="form-group">
            <label for="SalesStatus" class="col-sm-2 control-label">Sales Status</label>
            <div class="col-sm-10">
                <select class="form-control" id="SalesStatus" ng-model="sc.product.SalesStatus">
                    <option>Ready</option>
                    <option>Offered</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="SalesPrice" class="col-sm-2 control-label">Sales Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="SalesPrice"
                       placeholder="Salesprice" ng-model="sc.product.SalesPrice">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    </form>
</div>