<div class="container-fluid">
    <div class="row">

        <div class="col-md-8"><!--add stuff here--></div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Article Number</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Sales Status</th>
        <th>Sales Price</th>
        <th>Model</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Number of Files</th>
        <th>Images</th>
        <th>Documents</th>
        <th>Spec Sheet</th>
    </tr>
    <tr ng-repeat="data in ac.tableData">
        <td>{{data.ArticleNumber}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.SerialNumber}}</td>
        <td>{{data.SalesStatus}}</td>
        <td>{{data.SalesPrice}}</td>
        <td>{{data.Model}}</td>
        <td>{{data.Amount}}</td>
        <td>{{data.Category}}</td>
        <td>{{data.Tags}}</td>
        <td>{{data.NumberOfFiles}}</td>
        <td>{{data.Images}}</td>
        <td>{{data.Documents}}</td>
        <td>{{data.SpecSheets}}</td>
    </tr>
</table>
<div class="col-md-4">
    <a href="/SalesEmp/ManagerEdit" class="button btn btn-primary button-gui" target="_blank">Edit Product</a>
</div>

