<div class="col-md-12 Product-Heading">
    <h2>Edit Product</h2>
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label for="SalesStatus" class="col-sm-2 control-label">Sales Status</label>
        <div class="col-sm-10">
            <select class="form-control" id="SalesStatus">
                <option>Ready</option>
                <option>Offered</option>
            </select>
        </div>
    </div>
</form>