.button-gui{
	border: 1px solid black;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	position: fixed; 
	bottom: 2%;
	
}
.button-div{
	display: block;
}
#button-1th {
	left: 8.125%
}

.Product-Heading{
	
}
.selected{
	background-color: Highlight;
	color: white;
	font-weight: bold;
}
