
@{
    ViewBag.Title = "Index";
}

<div class="button-div">
    <div class="col-md-4 button-div">
        <a href="/SalesEmp/Employee" class="button btn btn-primary" target="_blank">Sales Employee</a>
    </div>
    <div class="col-md-4 button-div">
        <a href="/SalesEmp/Manager" class="button btn btn-primary" target="_blank">Sales Manager</a>
    </div>
    <div class="col-md-4 button-div">
        <a href="/InvEmp/InventoryEmployee" class="button btn btn-primary" target="_blank">Inventory Employee</a>
    </div>
    <div class="col-md-4 button-div">
        <a href="/Technician/Index" class="button btn btn-primary" target="_blank">Technician</a>
    </div>
    <div class="col-md-4 button-div">
        <a href="/Acquisitor/Index" class="button btn btn-primary" target="_blank">Acquisitor</a>
    </div>
    <div class="col-md-4 button-div">
        <a href="/Accountant/Index" class="button btn btn-primary" target="_blank">Accountant</a>
    </div>
    <div class="col-md-4 button-div">
        <a href="/InvEmp/InventoryManager" class="button btn btn-primary" target="_blank">Inventory Manager</a>
    </div>
</div>