
@{
    ViewBag.Title = "Index";
}

<div ng-controller="CustomController as custom">
    <h2>Index</h2>

    <h3>{{custom.greeting}}</h3>
</div>

<div ng-controller="MessageController as msg">
    <button type="submit" class="btn btn-default">Hit Me!</button>
</div>