
@{
    ViewBag.Title = "Index";
}

@*<div ng-controller="MessageController as messageCtrl" class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Message test</h3></div>
    <div class="panel-body">
        <button type="submit" class="btn btn-default" ng-click="messageCtrl.sendMessage('foo', 'foomsg')">Hit Me!</button>
        <ul class="list-group">
            <li ng-repeat="msg in messageCtrl.service.allMessages" class="list-group-item">
                <message-popup type="success" sender="{{msg.Sender}}">{{msg.Message}}</message-popup>
            </li>
        </ul>
    </div>
</div>*@

<div ng-controller="TestController as test" class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">http test</h3></div>
    <div class="panel-body">
        <button type="submit" class="btn btn-default" ng-click="test.getData()">Hit Me!</button>
        <ul class="list-group">
            <li ng-repeat="product in test.products" class="list-group-item">
                {{product}}
            </li>
        </ul>
    </div>
</div>