<div class="container-fluid">
    <div class="row">

        <div class="col-md-8"><!--add stuff here--></div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Article Number</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>Acquisition Price</th>
        <th>Model</th>
        <th>Production Year</th>
        <th>Category</th>
        <th>Tags</th>

    </tr>
</table>
<div class="col-md-4">
    <a href="http://localhost:50309/InvEmp/AddProduct" class="button btn btn-primary button-gui" target="_blank">Add Product</a>
</div>


