<div class="container-fluid">
    <div class="row">

        <div class="col-md-8"><!--add stuff here--></div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Article Number</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Amount</th>
        <th>Acquisition Price</th>
        <th>Model</th>
        <th>Production Year</th>
        <th>Category</th>
        <th>Tags</th>
    </tr>
    <tr ng-repeat="data in ac.tableData">
        <td>{{data.articleNumber}}</td>
        <td>{{data.name}}</td>
        <td>{{data.serialNumber}}</td>
        <td>{{data.amount}}</td>
        <td>{{data.acquisitionPrice}}</td>
        <td>{{data.model}}</td>
        <td>{{data.productionYear}}</td>
        <td>{{data.category}}</td>
        <td>{{data.tags}}</td>
    </tr>
</table>
<div class="col-md-4">
    <a href="/Acquisitor/Add" class="button btn btn-primary button-gui" target="_blank">Add Product</a>
</div>
<div class="col-md-4">
    <a href="/Acquisitor/Edit" class="button btn btn-primary button-gui" target="_blank">Edit Product</a>
</div>

