<div ng-app="detduharlysttil"
     ng-controller="AcquisitorController as ac"
     ng-init="ac.productService.getTableData()">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8"><!--add stuff here--></div>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Article Number</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Amount</th>
            <th>Acquisition Price</th>
            <th>Model</th>
            <th>Production Year</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
        <tr ng-repeat="data in ac.productService.tableData" ng-class="{'selected':index == selectedRow}" ng-click="ac.employeeService.setClickedRow(index)">
            <td>{{data.ArticleNumber}}</td>
            <td>{{data.Name}}</td>
            <td>{{data.SerialNumber}}</td>
            <td>{{data.Amount}}</td>
            <td>{{data.AcquisitionPrice}}</td>
            <td>{{data.Model}}</td>
            <td>{{data.ProductionYear}}</td>
            <td>{{data.Category}}</td>
            <td>{{data.Tags}}</td>
        </tr>
    </table>
    <div class="col-md-4">
        <a href="/Acquisitor/Add" class="button btn btn-primary button-gui" target="_blank">Add Product</a>
    </div>
    <div class="col-md-4">
        <a href="/Acquisitor/Edit" class="button btn btn-primary button-gui" target="_blank">Edit Product</a>
    </div>
</div>