<div ng-controller="ProductController as pc"
     ng-init="pc.getTableData()">
    <div ng-controller="TableController as tc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8"><search-bar></search-bar></div>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Article Number</th>
                <th>Name</th>
                <th>Serial Number</th>
                <th>Amount</th>
                <th>Acquisition Price</th>
                <th>Model</th>
                <th>Production Year</th>
                <th>Category</th>
                <th>Tags</th>
            </tr>
            <tr ng-repeat="data in pc.tableData | filter: query"
                ng-class="{'selected':$index == tc.selectedRow}"
                ng-click="tc.setClickedRow($index)">
                <td>{{data.ArticleNumber1}}</td>
                <td>{{data.Name}}</td>
                <td>{{data.SerialNumber}}</td>
                <td>{{data.Amount}}</td>
                <td>{{data.AcquisitionPrice}}</td>
                <td>{{data.Model}}</td>
                <td>{{data.ProductionYear}}</td>
                <td>{{data.Category}}</td>
                <td>{{data.Tags}}</td>
            </tr>
        </table>
        <div class="col-md-4">
            <a href="/Acquisitor/Add"
               class="button btn btn-primary button-gui"
               target="_blank">Add Product</a>
        </div>
        <div class="col-md-2">
            <!--The # after Edit is there on purpose. Angular uses this to extract shit from URLs, don't touch!!-->
            <a ng-href="/Acquisitor/Edit/#/{{pc.rowArtNum(tc.selectedRow)}}"
               class="button btn btn-primary button-gui"
               target="_self">Edit Product</a>
        </div>
        <div class="col-md-2">
            <delete-button on-click="pc.deleteItem(tc.selectedRow)">Delete</delete-button>
        </div>
    </div>
</div>